
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400&display=swap');


body{
    margin: 0px;
    /* background-color:var(--dColor--); */
    background-color:black;
    
   
   
    font-family: 'Sansita Swashed', cursive;
}
.container-center{
    max-width: 400px;
    margin:auto;
    padding: 1rem 1rem 1rem 1rem;
}
.text-area{
    border: 1px solid;
    padding: 1rem 0rem;
    height: 10rem;
    width: 100%;
    background-color:#F9DDA4;
   
    border-radius: 1rem;
    
}
p{
    color: #F5C469;
}
header{
    color:#F5C469 ;
    text-align: center;
    padding: 1rem 0rem;
    background-color: black        ;

    border: 1px solid;
   border-color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.image{
    height:150px;
    width:auto;
    display:block;
    margin: auto;
    padding: 1rem 0rem;
    border-radius: 1rem;
}
#btn{
    padding: 1rem;
    margin: 1rem 0rem;
   color: #F5C469;
    border-radius: .5rem;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    background-color: white;
    border: none;
}

footer{
    padding: 1rem 1rem;
    border: 1px;
    background-color:black;
    color:#F5C469;
    margin-top: 1rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}